/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-logo img {
  width: 100px;
}

.navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links ul li {
  display: inline;
  margin-right: 20px;
}

.navbar-links ul li:last-child {
  margin-right: 0;
}

.navbar-links ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar-links ul li a:hover {
  color: #ccc;
}

.navbar-login button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-login button:hover {
  background-color: #0056b3;
}
